html,body{
  all: unset;
  background-color:var(--main-bg-color) ;
  color: var(--text-color);
  margin: 0;
  height: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 2rem;
  border-bottom: 3px solid var(--hover-color);
}

.navbar-left{
  height: 40px;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-body {
  overflow: hidden;
  min-width:100%;
  height : 100%;
  display: flex;
}

.sidebar{
  flex: 0 0 20%;
  border-right: 3px solid var(--hover-color);
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--secondary-bg-color);
}

.content {
  overflow: auto;
  height :100%;
  padding: 2rem;
}



.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li a {
  display: block;
  color: var(--text-color);
  padding: 6px auto;
  text-align: center;
  text-decoration: none;
}

.sidebar li a:hover {
  background-color: var(--hover-color);
}

hr {
  display: block;
  height: 10px;
  border: 0;
  border-top: 3px solid var(--secondary-bg-color);
  margin: 1em 0;
  padding-top: 1rem;
}
  





.card {
  border: 2px solid var(--hover-color);
  background-color: var(--main-bg-color);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}



.button{
  background-color: var(--button-color);
  color : var(--text-color);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.theme-switch-button{
  background-color: #8CFAE8;
  border-radius: 6px;
  font-weight: 600;
}


.ls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ls-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  box-shadow: 0 10px 30px var(--shadow-color);
}

.ls-title {
  margin-top: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.ls-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #008080;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.ls-btn:hover {
  background-color: #006666;
}

label {
  font-weight: bold;
  padding-bottom: 8px;
}

input {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--hover-color);
  border: 1px solid var(--secondary-bg-color);
  font-size: 16px;
}

.ls-back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
}

.ls-signup-message {
  margin-top: 20px;
  text-align: center;
}

.ls-signup-message p {
  margin: 0;
}

.ls-signup-message a {
  margin-left: 5px;
  color: #008080;
  text-decoration: none;
  font-weight: 600;
}

.ls-signup-message a:hover {
  text-decoration: underline;
}










 .login-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 2px solid var(--secondary-bg-color);
  border-radius: 5px;
  background-color: var(--main-bg-color);
  box-shadow: 0 10px 30px var(--shadow-color);
}

.name-container {
  display: flex;
  justify-content: space-between;
}

.first-name {
  flex: 1;
  margin-right: 10px;
}

.last-name {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
button[type="submit"],
input[type="file"] {
  width: 90%;
  padding: 10px;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}





.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 6px;
}

.loading {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
